<aside class="bookmarks">
  <h3>Add an Bookmark</h3>
  <p>Know of a blog post or video about <%= tool.name %>?</p>
  <p><%= link_to "Add an Bookmark about #{tool.name}", new_bookmark_path %></p>
</aside>
