<% title "List of sites using #{@tool.name}" %>
<section id="content" class="main tool">
  <%= render 'header' %>
  <%= render 'tools/nav' %>
  <%= render :partial => "sites", :object => @usings %>
</section>