<% title "List of sites using #{@tool.name}" %>
<section id="content" class="main tool">
  <%= render 'header' %>
  <%= render :partial => "sites", :object => @usings %>
</section>

<% javascript do %>
$(function(){
  $(".add_another_site").click(function(e) {
    if($(this).hasClass("showing_form")) {
      $("#new_using_form").slideUp();
      $(".add_another_site").removeClass("showing_form");
      e.preventDefault();
      return false;
    } else {
      $("#new_using_form").slideDown();
      $(".add_another_site").addClass("showing_form");
    }
  });
});
<% end %>