<%= render 'show' %>

<sidebar>
  <aside>
    <h3>Similar Tools</h3>
    <div><p>Similar tools here...</p></div>
  </aside>
  
  <% cache("featured_tools", :expires_in => 15.minutes) do %>
    <%= render :partial => "tools/featured", :object => @featured if @featured.length > 0 %>
  <% end %>
  
</sidebar>