<%= render 'show' %>

<sidebar>
  <aside>
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "edit", edit_tool_path(@tool) %></li>
      <li><%= link_to "add sites", new_tool_site_path(@tool) %></li>
      <li><%= link_to "delete", @tool, :method => :delete, :confirm => "Are you sure you want to delete this tool?" %></li>
    </ul>
  </aside>
</sidebar>