<% title "Save Bookmark - #{@bookmark.title}" %>

<section id="content" class="main tool">
  <%= render 'bookmarks/header' %>

  <section class="tab">
    <%= render 'form' %>
  </section>
</section>
<%= render 'bookmarks/show_sidebar' %>