<ul class="tabs">
  <li class="bookmarks-show"><%= link_to "Comments", bookmark_path(@bookmark) %></li> 
  <% if logged_in? %>
    <li class="right bookmarks-edit"><%= link_to "Edit", edit_bookmark_path(@bookmark) %></li> 
  <% end %>
</ul>