<% title "Bookmark - Edit #{@bookmark.title}" %>

<section id="content" class="main tool">
  <%= render 'header' %>
  <%= render 'nav' %>

  <section class="tab">
    <% render 'form' %>
  </section>
</section>
<%= render 'show_sidebar' %>