<% title "Recent Bookmarks" %>

<section id="content" class="main">
  <div class="title_bar group">
    <h2><%= @title %></h2>
  </div>
  <section>
    <ul class="tools">
      <%= render @bookmarks %>
    </ul>
    <%= will_paginate @bookmarks %>
  </section>
</section>

<sidebar>
  <aside>
    <ul class="lst">
      <li><%= link_to "Add a New Bookmark", new_bookmark_path %></li>
    </ul>
  </aside>
</sidebar>