<% title "Bookmark - #{@bookmark.title}" %>

<section id="content" class="main tool">
  <%= render 'header' %>
  <%= render 'nav' %>



  <section class="tab">
    <p class="main_message">Discuss this bookmark</strong>.
    <%= render :partial => 'shared/disqus', :object => "bookmark_#{@bookmark.id}" %>
  </section>
</section>
<%= render 'show_sidebar' %>