<% title "Bookmark - Sites listed on #{@bookmark.title}" %>

<section id="content" class="main tool">
  <%= render 'header' %>
  <%= render 'nav' %>

  <section class="tab">
    <ul class="usings sites">
      <%= render :partial => 'usings/using_site', :collection => @bookmark.bookmark_connections.collect(&:using) %>
    </ul>
  </section>
</section>
<%= render 'show_sidebar' %>