<li class="tool group ind using">
  <div class="details">
    <div class="title">
      <h4><%= link_to using.tool.name, using.tool %></h4>
      <ul class="count">
        <li><%= link_to "remove", site_tools_path(@site, :using_id => using.id), :remote => true, :method => :delete %></li>
      </ul>
      <% unless using.description.blank? %><p><%= using.description %></p><% end %>

      <ul class="using">
        <%= raw tool_categories(using.tool) %>
      </ul>
    </div>
  </div>
</li>