<% title "Profile for #{@user.username}" %>

<section id="content" class="main">
  <h2><%= @title %></h2>
  <section>
    <ul>
      <li>Karma: <%= @user.karma %></li>
    </ul>
  </section>
</section>

<%= render 'users/sidebar' %>