<% title "Profile for #{@user.username}" %>

<section id="content" class="main">
  <h2><%= @title %></h2>
  <section>
    This is your public profile. I'm sure we'll show stuff here later on.
  </section>
</section>

<%= render 'users/sidebar' %>