<% title "Edit Tools on #{@site.title} (#{@site.domain})" %>

<section id="content" class="main full">
  <h2><%= @title %></h2>
  <%= render "form" %>
</section>

<sidebar>
  <aside>
    <h3>Related Links</h3>
    <ul>
      <li><%= link_to "Main Page for #{@site.title}", @site %></li>
    </ul>
  </aside>
</sidebar>