<% title "Edit Tools on #{@site.title} (#{@site.domain})" %>

<section id="content" class="main full">
  <% cache(["header", @site]) do %>
    <%= render 'sites/header' %>
  <% end %>
  <%= render 'sites/nav' %>
  
  <section class="tab">
    <%= render "form" %>
  </section>
</section>

<% cache(["sidebar", @site]) do %>
  <%= render 'sites/show_sidebar' %>
<% end %>