/* Tools by Category */
.category-description {
  font-size: 1em;
  color: #666; }

/* Lists of sites or tools */
body.tools-index .ind {
  border-top: none; }

div.ind:hover {
  background-color: #fff; }

div.ind {
  border: none;
  margin: .2em 1em 1em 1em; }

div.ind h2 {
  width: 640px;
  float: left; }

ul.sites li.ind:last-child, ul.usings li.ind:last-child {
  border-bottom: 1px solid #ccc; }

ul.sites li.ind .title h4 {
  width: 590px; }

ul.usings li.ind .title h4 {
  width: 300px; }

ul.bookmarks li.ind.bookmark .title h4 {
  width: 100%; }

/* sites#show, tools#show */
section.tool section.tab ul.sites, section.sites section.tab ul.tools {
  position: relative; }

.sites .tools li a, .tools .sites li a {
  display: block;
  padding: .3em;
  margin-right: .4em;
  font-size: 1.2em; }

.sites .tools, .tools .sites {
  margin: .4em 0; }

.sites .tools li, .tools .sites li {
  float: left; }

section.tab ul.tools .details, section.tab ul.sites .details {
  margin-left: 140px;
  min-height: 88px; }

section.tab ul.usings div.details, ul.usings div.details, ul.sites div.details, ul.tools div.details {
  margin-left: 0;
  min-height: 0;
  padding: 0 1.5em; }

/* sites#show */
section.site .site_details {
  margin-left: 220px; }

section.site ul.tools {
  list-style: none; }

section.site ul.tools li {
  border-bottom: 1px solid #c3c0bd;
  padding-top: 1em; }

/* sites#show tools list */
.sites .tools li a {
  background-color: #FFA500;
  color: #000; }

.sites .tools li a:hover {
  background-color: #ccA500;
  color: #000; }

/* Usings */
ul.usings li.ind p {
  padding-top: .4em; }

ul.usings li.ind:hover p a.manage_site_tools {
  display: block;
  float: right; }

ul.usings li.ind p a.manage_site_tools {
  display: none; }

ul.usings li.pagerank, ul.usings li.alexa, ul.usings li.popularity {
  display: none;
  font-size: 1.2em;
  margin-left: .4em;
  padding: .3em; }

/* 
ul.sort-alexa li.ind li.alexa, ul.sort-pagerank li.ind li.pagerank { display:inline; }
ul.sort-sites li.ind li.popularity { display:inline; background-color:#bbb; font-size:1.1em;}
*/
ul.sites.single li.ind:last-child, ul.usings.single li.ind:last-child {
  border-top: none;
  border-bottom: 1px solid #ccc; }

ul.usings ul.bookmarks {
  clear: both; }

ul.usings ul.bookmarks li {
  border-bottom: 1px solid #e7e7e7;
  padding: 4px 0; }

ul.usings ul.bookmarks li:last-child {
  border-bottom: none; }
