.clear {
  clear: both; }

.right {
  float: right; }

.block {
  display: block; }

p.breadcrumbs {
  font-size: 8px; }

a.add {
  background: url(https://s3.amazonaws.com/s.lineofthought.com/images/icons/13-plus.png) no-repeat;
  padding-left: 20px; }

a.remove {
  background: url(https://s3.amazonaws.com/s.lineofthought.com/images/icons/14-minus.png) no-repeat 0 7px;
  padding-left: 20px; }

img.screenshot, .screenshot img {
  border: 1px solid #ccc;
  float: left; }

a.external {
  font-size: 10px; }

a:link, a:visited {
  color: #3792B3;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  text-decoration: none;
  font-weight: bold; }

p.center, .center {
  text-align: center; }

section.text p, section.text h3 {
  margin: .5em 1em; }

section.text ul, section.text ol {
  margin: 1em 1em 1em 1.4em;
  padding: 0 1em; }

section.text ul {
  list-style: disc outside; }

section.text ol {
  list-style: decimal outside; }

section.text ol li {
  margin-bottom: .5em; }

section.text ul li p, section.text ol li p {
  margin: 1em 0; }

/* home */
section.announcement {
  margin-bottom: 2em; }

section.announcement p.title {
  font-size: 26px;
  color: #444;
  margin: .5em 0;
  text-align: center;
  font-family: arial;
  font-weight: bold; }

section.announcement p.subtitle {
  font-size: 18px;
  color: #333;
  margin: .5em 0 .5em 30px;
  text-align: center;
  float: left;
  width: 300px; }

section.announcement p a {
  font-style: normal;
  font-size: 14px; }

section.announcement p a:hover {
  text-decoration: none; }

section.announcement div.feature {
  float: right;
  width: 275px; }

section.announcement div.feature p {
  line-height: 19px;
  text-align: center; }

section.announcement div.feature p.subbutton {
  font-size: 12px;
  text-align: center;
  line-height: 8px; }

section.tab {
  clear: both; }

section.announcement div.feature p.minilink a {
  text-decoration: underline;
  font-size: 12px; }

section.announcement div.feature a.button {
  font-size: 18px;
  padding: 9px 18px; }

section.tab p.empty_message, section.tab p.main_message {
  color: #444;
  text-align: center;
  font-size: 16px;
  margin: 1.5em 0 1em; }

/* Tabs */
/* Very cool tabs from  http://www.simplebits.com/bits/css_tabs.html */
ul.tabs {
  height: 34px;
  padding: 0 20px;
  border-bottom: 1px solid #a3a09e;
  clear: both;
  margin: 0; }

ul.tabs li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none; }

ul.tabs a:link, ul.tabs a:visited {
  float: left;
  font-weight: bold;
  padding: 7px 1.2em;
  margin-right: 8px;
  border: 1px solid #a3a09e;
  text-decoration: none;
  color: #666;
  height: 18px; }

ul.tabs a {
  background-color: #f3f3f3;
  font-size: 16px;
  position: relative;
  top: 1px; }

ul.tabs li.current a:link, ul.tabs li.current a:visited {
  border-bottom: 1px solid #fff;
  background: #fff;
  color: #000; }

ul.tabs a:hover {
  background-color: #fff; }

/* Sorting options */
#sorting {
  float: right;
  position: relative;
  width: 200px; }

#sorting p {
  float: right;
  width: 100%;
  text-align: right; }

#sorting p a {
  background: url(https://s3.amazonaws.com/s.lineofthought.com/images/icons/13-plus.png) no-repeat right;
  display: block;
  width: 14px;
  height: 14px;
  float: right;
  margin-left: 10px; }

#sorting p a.active {
  background: url(https://s3.amazonaws.com/s.lineofthought.com/images/icons/14-minus.png) no-repeat right; }

#sorting ul.options {
  background-color: #F1F1F1;
  padding: 10px;
  float: right;
  z-index: 1;
  clear: left;
  border: 3px solid #e3e3e3;
  clear: both;
  position: absolute;
  top: 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  width: 200px;
  right: 0; }

/* Pagination */
.pagination {
  background: white;
  margin: 1em 0; }

.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px; }

.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD; }

.pagination em {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1; }

.pagination a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5; }

.pagination a:hover, .pagination a:focus {
  color: #003;
  border-color: #003; }

.pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center; }

.pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em; }

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .pagination {
  height: 1%; }

*:first-child + html .pagination {
  overflow: hidden; }

div.disqus_wrapper {
  padding: 1em;
  font-size: 14px; }

sidebar aside.search input[type='text'], .sidebar aside.search input[type='text'] {
  width: 200px;
  border-color: #bbb; }

body.sites-show li.sites-show a:link, body.sites-show li.sites-show a:visited,
body.site_tools-index li.site_tools-index a:link, body.site_tools-index li.site_tools-index a:visited,
body.site_claims-new li.site_claims-new a:link, body.site_claims-new li.site_claims-new a:visited,
body.site_tools-manage li.site_tools-manage a:link, body.site_tools-manage li.site_tools-manage a:visited,
body.tools-show li.tools-show a:link, body.tools-show li.tools-show a:visited,
body.tools-edit li.tools-edit a:link, body.tools-edit li.tools-edit a:visited,
body.tool_sites-new li.tool_sites-new a:link, body.tool_sites-new li.tool_sites-new a:visited,
body.tool_sites-index li.tool_sites-index a:link, body.tool_sites-index li.tool_sites-index a:visited,
body.site_claims-create li.site_claims-create a:link, body.site_claims-create li.site_claims-create a:visited,
body.tool_sites-manage li.tool_sites-manage a:link, body.tool_sites-manage li.tool_sites-manage a:visited,
body.sites-edit li.sites-edit a:link, body.sites-edit li.sites-edit a:visited,
body.bookmarks-show li.bookmarks-show a:link, body.bookmarks-show li.bookmarks-show a:visited,
body.bookmarks-edit li.bookmarks-edit a:link, body.bookmarks-edit li.bookmarks-edit a:visited,
body.bookmarks-sites li.bookmarks-sites a:link, body.bookmarks-sites li.bookmarks-sites a:visited,
body.bookmarks-tools li.bookmarks-tools a:link, body.bookmarks-tools li.bookmarks-tools a:visited,
body.tools-bookmarks li.tools-bookmarks a:link, body.tools-bookmarks li.tools-bookmarks a:visited,
body.sites-bookmarks li.sites-bookmarks a:link, body.sites-bookmarks li.sites-bookmarks a:visited,
body.saved_bookmark-new li.saved_bookmark-new a:link, body.saved_bookmark-new li.saved_bookmark-new a:visited,
body.saved_bookmark-edit li.saved_bookmark-edit a:link, body.saved_bookmark-edit li.saved_bookmark-edit a:visited,
body.site_tools-deleted li.site_tools-deleted a:link, body.site_tools-deleted li.site_tools-deleted a:visited,
body.tool_sites-deleted li.tool_sites-deleted a:link, body.tool_sites-deleted li.tool_sites-deleted a:visited {
  border-bottom: 1px solid #fff;
  background: #fff;
  color: #000; }

/* individual tool and site pages */
.show-header {
  position: relative; }

.show-header h2 {
  display: inline; }

.show-header .content {
  padding: .4em .4em 1em; }

#site-header {
  min-height: 88px; }

#site-header h2, #tool-header h2 {
  float: left; }

#site-header h2, #site-header p {
  max-width: 600px; }

#tool-header {
  min-height: 110px; }

#site-header p, #tool-header p {
  clear: left; }

#tool-header h2, #tool-header p {
  max-width: 600px; }

#tool-header .mini-categories {
  bottom: 20px;
  right: 6px; }

#bookmark-header {
  margin-bottom: 20px; }

.titleless li.ind:first-child {
  border-top: none; }

button.loading {
  display: none; }

.loading button.loading {
  display: inline;
  padding-right: 18px;
  background: url(/images/indicator.gif) no-repeat right; }

form fieldset.buttons li.loading-indicator {
  display: none;
  line-height: 0;
  margin: 0;
  padding: 10px 10px 0 0; }

form.loading fieldset.buttons li.loading-indicator {
  display: inline; }

a.add_another_tool.block {
  display: block; }
