.clear {
  clear: both; }

.right {
  float: right; }

p.breadcrumbs {
  font-size: .8em; }

a.add {
  background: url(/images/icons/13-plus.png) no-repeat;
  padding-left: 20px; }

a.remove {
  background: url(/images/icons/14-minus.png) no-repeat 0 7px;
  padding-left: 20px; }

img.screenshot, .screenshot img {
  border: 1px solid #ccc;
  float: left; }

a.external {
  font-size: 1em; }

a:link, a:visited {
  color: #3792B3;
  font-weight: bold;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  text-decoration: none; }

/* home */
section.announcement {
  margin-bottom: 1em; }

section.announcement p {
  font-size: 1.8em;
  color: #333;
  margin: .5em 1em;
  text-align: center; }

section.announcement p.title {
  font-size: 2.4em;
  color: #666;
  margin: .5em 0; }

section.announcement p a {
  font-weight: bold;
  font-style: normal; }

section.announcement p a:hover {
  text-decoration: underline; }

section.tab {
  clear: both; }

section.tab p.empty_message {
  color: #444;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 1.5em; }

/* Tabs */
/* Very cool tabs from  http://www.simplebits.com/bits/css_tabs.html */
ul.tabs {
  height: 34px;
  padding: 0 20px;
  border-bottom: 1px solid #a3a09e;
  clear: both;
  margin: 0; }

ul.tabs li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none; }

ul.tabs a:link, ul.tabs a:visited {
  float: left;
  font-weight: bold;
  padding: 7px 1.2em;
  margin-right: 8px;
  border: 1px solid #a3a09e;
  text-decoration: none;
  color: #666;
  height: 18px; }

ul.tabs a {
  background-color: #f3f3f3;
  font-size: 1.6em;
  position: relative;
  top: 1px; }

ul.tabs li.current a:link, ul.tabs li.current a:visited {
  border-bottom: 1px solid #fff;
  background: #fff;
  color: #000; }

ul.tabs a:hover {
  background-color: #fff; }

/* Sorting options */
#sorting {
  float: right;
  position: relative;
  width: 250px; }

#sorting p {
  float: right;
  width: 100%;
  text-align: right; }

#sorting p a {
  background: url(/images/icons/13-plus.png) no-repeat right;
  display: block;
  width: 14px;
  height: 14px;
  float: right;
  margin-left: 10px; }

#sorting p a.active {
  background: url(/images/icons/14-minus.png) no-repeat right; }

#sorting ul.options {
  background-color: #F1F1F1;
  padding: 10px;
  float: right;
  z-index: 1;
  clear: left;
  border: 3px solid #e3e3e3;
  clear: both;
  position: absolute;
  top: 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  width: 200px;
  right: 0; }

/* Pagination */
.pagination {
  background: white; }

.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px; }

.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD; }

.pagination em {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1; }

.pagination a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5; }

.pagination a:hover, .pagination a:focus {
  color: #003;
  border-color: #003; }

.pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center; }

.pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em; }

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .pagination {
  height: 1%; }

*:first-child + html .pagination {
  overflow: hidden; }

div.disqus_wrapper {
  padding: 1em;
  font-size: 1.4em; }

body.sites-show li.sites-show a:link, body.sites-show li.sites-show a:visited,
body.site_tools-index li.site_tools-index a:link, body.site_tools-index li.site_tools-index a:visited,
body.site_claims-new li.site_claims-new a:link, body.site_claims-new li.site_claims-new a:visited,
body.site_tools-manage li.site_tools-manage a:link, body.site_tools-manage li.site_tools-manage a:visited,
body.tools-show li.tools-show a:link, body.tools-show li.tools-show a:visited,
body.tools-edit li.tools-edit a:link, body.tools-edit li.tools-edit a:visited,
body.tool_sites-new li.tool_sites-new a:link, body.tool_sites-new li.tool_sites-new a:visited,
body.tool_sites-index li.tool_sites-index a:link, body.tool_sites-index li.tool_sites-index a:visited {
  border-bottom: 1px solid #fff;
  background: #fff;
  color: #000; }
