body { background:url(/images/background-darkest.png); font: 16px bold Helvetica,sans-serif; }
.container { width:1000px; margin:0 auto; }
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

header { background:url(/images/background-dark.png); height:60px; color:#666; border-bottom:1px solid #c3c0bd; }
header #title { float:left; }
header #title a, header #title a:link, header #title a:visited  { text-decoration:none; color:#666; font-size:28px; }
header #title a { line-height:40px; }
header #title p { margin:0; }

nav ul { float:right; list-style:none; }
nav ul li { float:left; margin:0 20px; }
nav ul li a { line-height:60px; }
nav ul li a, nav ul li a:link, nav ul li a:visited { display:block; color:#999; }
nav ul li a:hover, header #title a:hover { color:#333; }

#main { color:#333; padding:20px 0; background:url(/images/background.png); border-top:1px solid #fff; }
#main a { color:#666; }
#main a:hover { color:#222; }

#content { width:640px; float:left; }

sidebar { width:320px; float:right; margin-top:32px; }
aside { background: #f1f1f1; border: 1px solid #e3e3e3; margin: 0 0 1.5em 0; padding: 1.5em 1.5em 1em 1.5em ;}

footer { min-height:140px; color:#444; padding:20px 0; border-top:1px solid #777; }
footer p { width:640px; float:left; }
footer ul { width:300px; float:right; padding-left:20px; }