$nav-link-hover: #4B81B4;
$accent-color: #68aff3;

body { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; color: #51463d; font-size: 62.5%; background:#222; }
body.popup { background-color:#E3E3E3; }
.container { max-width:960px; margin:0 auto; position:relative; height:100%; }
body.popup .container { max-width:600px; }
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
ul { list-style:none; margin:0; padding:0; }

/* header */
header { display:block; background-color:#222; border-top:4px solid $accent-color; height:70px; border-bottom:2px solid #ccc; }
#title p a { display:block; color:#eee; font-size:24px; padding-top:6px; }
#title p a:hover { color:#ccc; }
#title p a span { color:#68aff3; font-size:100%; }
#title p a:hover span { color:#4B81B4; }
#title span { font-size:18px; color:#9c9c9c; }

/* navigation */
nav { display:block; position:absolute; right:0; top:0; width:724px; }
nav ul { float:right; }
nav ul li { float:left; }
nav ul li a:link, nav ul li a:visited  { display:block; color:#ddd; }
nav ul li a { padding:10px; font-size:14px; margin-left:10px; }
nav ul li a:hover {  background-color:$accent-color; color:#eee; }

#search { position:absolute; bottom:6px; right:0; display:none; }
#search form { width:400px; float:right; font-size:13px; }
#search form input[type=text] { width:200px; background-color:#ddd; border:1px solid #666; }
#search form input[type=text]:focus { background-color:#fff; }

#current_user { display:block; position:absolute; right:0; top:30px; }
#current_user li { font-size:14px; float:right; padding-left:1em;}
#current_user li a:hover { color:#ccc; }

/* Main */
section, aside { display:block; }
#main { background-color:#E3E3E3; color:#1B1B1B; }
#content { padding:14px; }
#content, sidebar aside { background-color:#fff; border:1px solid #ccc; font-size:14px; }
#main .container { padding:10px 0; }

/* main content */
#content { width:620px; float:left; }
body.popup #content { width:550px; }
.main section { padding:.4em; }

/* Right sidebar */
body.popup sidebar { display:none; }
sidebar { width:300px; float:right;}
sidebar aside { margin-bottom:10px; padding: 15px; }
sidebar aside h3 { margin: 0 0 6px 0; padding: 0 0 4px 0; font-size:16px; font-weight: bold; color:#365B81; border-bottom: 2px solid #ecebe1; }
sidebar aside p.more { margin-top:12px; text-align:center; }
sidebar aside ul li { }
sidebar aside p { margin-top:12px; font-size: 16px;
line-height: 20px; }

/* Sidebar - Right - List of text */
ul.txt li { padding:7px; border-bottom: 1px solid #f3f2e8; overflow: hidden; }
ul.txt li:hover { background: #EFF2F7; }

/* Sidebar - Right - List of links*/
ul.lst li a { display:block; padding:7px; border-bottom: 1px solid #f3f2e8; overflow: hidden; }
ul.lst li.last a { border: none; }
ul.lst a:hover { background: #EFF2F7; }
ul.lst li em { float: right; margin: 0 0 0 5px; font-size:10px; font-style: normal; font-weight: normal; color: #9c836e; }
ul.lst li a img.favicon { float:left; margin:0; width:16px; height:16px; padding-right:8px; }

/* Sidebar - Right - List with ratings*/
ul.lst-rating li { margin: 0 0 2px 0; position: relative;	 }
ul.lst-rating li a { position: relative; display: block; padding: 7px; z-index: 2; font-size:11px; }
ul.lst-rating li em { float: right; margin: 0 0 0 5px; font-style: normal; font-weight: normal; color: #9c836e; }
ul.lst-rating li span { position: absolute; top: 0; left: 0; display: block; height: 100%; line-height: 2.55em; text-indent: -9999px; background: #EBE6FF; } 
ul.lst-rating li:hover span { background: #C6C8E8; }

aside ul.bookmarks { font-size:11px; }

/* footer */
footer { display:block; min-height:140px; }
footer .wrapper { }
footer p { }

footer section { float:left; }
footer section p, footer section h3  { margin:1em; }
footer section li { margin:.4em 1em; }
footer section.sidebar_nav { }
footer section.main-footer { width:700px; }
footer section.sidebar { width:260px; float:right; }
footer section h3 { color:#E2DDDC; font-size:10px; text-transform:uppercase; }
footer section.main-footer p { color:#bbb; }
footer section ul li, footer section ul { }


body.sites nav ul li.sites a,
body.tools nav ul li.tools a, 
body.bookmarks nav ul li.bookmarks a,
body.authentications nav ul li.profile a,
body.profiles nav ul li.profile a,
body.tool_sites nav ul li.tools a,
body.site_tools nav ul li.sites a,
body.site_claims nav ul li.sites a,
body.sessions nav ul li.sign-in a,
body.registrations nav ul li.profile a,
body.blog nav ul li.blog a,
body.accounts nav ul li.profile a
{ background-color:$accent-color; color:#eee; }

.bookmarks { display:none; }