<div id='boxtop'></div>
<div id='banner'>
  <h1>Line Of Thought will be launching soon!</h1>
</div>
<div id='boxmain'>
  <p>Enter your email address below and we'll notify you when we've launched.</p>
  <div id='subscribe'>
    <%= form_tag subscriptions_path do %>
      <input type='hidden' name='subscription[referrer]' value='<%= request.referrer %>' />
      <label for='email'>Email</label>
      <input type='text' name='subscription[email]' value='' />
      <div class='button-container'>
        <button value='submit' class='awesome'>Notify Me!</button>
      </div>
    <% end %>
  </div>
</div>