<div id='boxtop'></div>
<div id='banner'>
  <h1>Thanks for your submission!</h1>
</div>
<div id='boxmain'>
  <h3>We'll notify <%= @subscription.email %> when SitesUsing launches!</h3>
  <div class='button-container'>
    <a href='/' class='awesome enabled'>Return Home</a>
  </div>
</div>