<aside>
  <h3>Most Used Tools</h3>
  <ul class="group lst">
    <% @tools.each do |tool| %>
      <li><a href="<%= tool_path(tool) %>"><em><%= pluralize(tool.sites_count, 'site') %></em><%= tool.name %></a></li>
    <% end %>
  </ul>
</aside>