<% title "Deleted sites by #{@tool.name}" %>
<section id="content" class="main site deleted">
  <%= render 'tools/header' %>
  <%= render :partial => "tools/sites", :object => @usings %>
</section>

<% javascript do %>
$(function(){
  $(".add_another_site").click(function(e) {
    if($(this).hasClass("showing_form")) {
      $(".add_another_site").html("add a site");
      $("#new_using_form").slideUp();
      $(".add_another_site").removeClass("showing_form");
      e.preventDefault();
      return false;
    } else {
      $(".add_another_site").addClass("showing_form");
      $(".add_another_site").html("hide form");
      $("#new_using_form").slideDown();
    }
  });
});
<% end %>

<%= render 'tools/show_sidebar' %>