<% title "Sites Using #{@tool.name}" %>

<section id="content" class="main tool">
  <% cache(["full", @tool]) do %>
    <%= render 'tools/header' %>
  <% end %>
  
  <%= render :partial => "tools/nav" %>
  <%= render :partial => "tools/sites", :object => @usings %>
</section>


<sidebar>
  <aside>
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "edit", edit_tool_path(@tool) %></li>
    </ul>
  </aside>
</sidebar>