<% title "Sites Using #{@tool.name}" %>

<section id="content" class="main tool">
  <% cache(["full", @tool]) do %>
    <%= render 'tools/header' %>
  <% end %>
  
  <%= render :partial => "tools/nav" %>
  <%= render :partial => "tools/sites", :object => @usings %>
</section>

<% cache(["sidebar", @tool], :expires_in => 15.minutes) do %>
  <%= render 'tools/show_sidebar' %>
<% end %>