<% title "Edit Sites using #{@tool.name}" %>

<section id="content" class="main full">
  <% cache(["header", @tool]) do %>
    <%= render 'tools/header' %>
  <% end %>
  <%= render 'tools/nav' %>
  
  <section class="tab">
    <%= render "form" %>
  </section>
</section>

<% cache(["sidebar", @tool]) do %>
  <%= render 'tools/show_sidebar' %>
<% end %>