<%= render 'new' %>
<sidebar>
  <aside>
    <h3>Add Multiple Sites</h3>
    <p>Have a load of sites to add at once associated with a single tool? This is the easiest way to do it.</p>
  </aside>
</sidebar>