<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <%= render 'header' %>
  <%= render :partial => "tools", :object => @usings %>
</section>

<% javascript do %>
$(function(){
  $(".add_another_tool").click(function(e) {
    if($("#new_using_form").is(":visible")) {
      $("section.tab").removeClass("show_form");
      $("#new_using_form").slideUp(1000, function() {
        $("p.add_more").slideDown();
      });
    } else {
      $("#new_using_form").slideDown(500, function() {
        
      });
      $("section.tab").addClass("show_form");
    }
    e.preventDefault();
    return false;
  });
});
<% end %>