<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <%= render 'header' %>
  <%= render :partial => "tools", :object => @usings %>
</section>

<% javascript do %>
$(function(){
  $(".add_another_tool").click(function(e) {
    if($("#new_using_form").is(":visible")) {
      $("#new_using_form").slideUp(500, function() {
        $("p.add_more").slideDown(500, function() {
          $("section.tab").removeClass("show_form");  
        });
      });
    } else {
      $("p.add_more").slideUp(500, function() {
        $("#new_using_form").slideDown(500, function() {
          $("section.tab").removeClass("show_form");
        });
      });
    }
    e.preventDefault();
    return false;
  });
});
<% end %>