<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <%= render 'header' %>
  <%= render :partial => "tools", :object => @usings %>
</section>

<% javascript do %>
$(function(){
  $(".add_another_tool").click(function(e) {
    if($(this).hasClass("showing_form")) {
      $("#new_using_form").slideUp();
      $(".add_another_tool").removeClass("showing_form");
      e.preventDefault();
      return false;
    } else {
      $(".add_another_tool").addClass("showing_form");
      $("#new_using_form").slideDown();
    }
  });
});
<% end %>