<% title "Edit Site - #{@site.title}" %>
<section id="content" class="main">
  <% cache(["header", @site]) do %>
    <%= render 'sites/header' %>
  <% end %>
  <%= render 'sites/nav' %>
  
  <section class="tab">
    <%= render 'form' %>
  </section>
</section>
<%= render 'sites/show_sidebar' %>